<form [formGroup]="form" (submit)="onSubmit()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input [class.border-danger]="form.get('email').touched && form.get('email').invalid" type="email" formControlName="email"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      @if(form.get('email').touched && form.get('email').hasError('required')){
        <div class="text-danger">Email is required</div>
      }
      @if(form.get('email').touched && form.get('email').hasError('email')){
        <div class="text-danger">Email is invalid</div>
      }
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input [class.border-danger]="form.get('password').touched && form.get('password').invalid" type="password" formControlName="password" class="form-control" id="exampleInputPassword1">
       @if(form.get('password').touched && form.get('password').invalid){
            <div class="text-danger">Password is required</div>
        }
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary" >Submit</button>
  </form>
