<form (ngSubmit)="onSubmit(res)" #res="ngForm">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" required email name="email" ngModel #nameref="ngModel" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      @if(nameref.touched && nameref.invalid){
        <div class="text-danger">Email is required</div>
      }
      @if(nameref.touched && nameref.errors){
        <div class="text-danger">Email is invalid</div>
      }
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" required name="password" #passref="ngModel" ngModel class="form-control" id="exampleInputPassword1">
        @if(passref.touched && passref.invalid){
            <div class="text-danger">Password is required</div>
        }
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="res.invalid">Submit</button>
  </form>